// colors

$red: #df3333;
$primary: #5ece7b;
$text: #1d1f22;
$black: rgb(17, 17, 17);
$white: rgb(255, 255, 255);

$gray1: rgba(128, 128, 128, 0.5);
// sizes

$small: 0.5rem;
$smaller: 0.25rem;
$maxappwidth: 1200px;
