.cart-page-item {
  // max-height: 15rem;
  grid-template-columns: 1fr max-content 10rem;
  border-top: 1px solid $gray1;
  margin-bottom: 1rem;
  padding: 1rem 0;

  h2 {
    margin: 0;
    width: 100%;
  }

  .h {
    margin-bottom: $smaller;
    margin-top: $small;
    font-weight: bold;
  }

  .price {
    margin: $small 0;
    font-weight: bold;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  .right {
    position: relative;

    .img-buttons {
      position: absolute;
      bottom: $small;
      right: $small;
      display: flex;
      gap: $smaller;
    }

    .prev {
      transform: rotate(180deg);
    }

    .next {
      height: 1.78rem;
      margin-top: 12rem;
    }
  }
}

.cart-overlay-item {
  .cart-page-item {
    gap: 0.5rem !important;
    border: none;
    padding: 0;

    h2 {
      font-size: 1.25rem;
    }

    .img-buttons {
      display: none;
    }

    .attributes {
      // border: solid 1px;

      .attr-h {
        margin: $smaller 0;
        text-transform: capitalize;
      }

      .attr {
        margin-top: $small;
      }

      button {
        height: 1rem;
        width: 1rem;
      }

      .other-attrs {
        button {
          width: 3rem;
          max-width: 4rem;
          height: 2rem;
        }
      }
    }
  }

  .left {
    display: block !important;
  }

  .attrs {
    border: solid 1px;
  }
}
