.cswitcher {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .dropdown {
      display: unset;
    }
    .drop {
      transform: rotate(180deg) translateY(-$small);
    }
  }

  .dropdown {
    position: absolute;
    box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.1);
    width: max-content;
    top: 2rem;
    left: -1rem;
    display: none;
    cursor: pointer;
    background-color: white;

    .d-item {
      margin: $smaller 0;
      padding: $small 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba(128, 128, 128, 0.116);

      }
    }
  }
}
