#productdisplay {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  gap: 2rem;

  .thumbs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 5.625rem;
      aspect-ratio: 1;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .preview {
    width: 100%;

    img {
      width: 37.5rem;
      object-fit: cover;
    }
  }

  .details {
    max-width: 25rem;

    & > * {
      margin-bottom: 1rem;
    }
    .name {
      & > * {
        margin: 0;
      }

      .light {
        font-weight: lighter;
      }
    }

    .h {
      font-weight: bold;
      margin-bottom: $smaller;
    }

    .sizes {
      button {
        height: 2rem;
        width: auto;
        aspect-ratio: 1.25/1;
      }
    }

    .attr-h {
      font-weight: bold;
      margin-bottom: $smaller;
      text-transform: uppercase;
    }

    .attr-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
      gap: $smaller;

      button {
        height: 2.5rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .is_swatch {
      grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
      gap: 0.25rem;

      .selected {
        height: 2.1rem;
        width: 2.1rem;
        border: solid 1px $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.1rem;
      }

      .color {
        height: 2rem;
        width: 2rem;
      }
    }

    .info {
      margin-top: 1rem;
    }
  }
}
