@import "../components/ItemCard.scss";

#productlist {

  h1 {
    font-weight: normal;
    text-transform: capitalize;
  }

  .prod-list {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
  }
}
