@import "../components/ItemCard.scss";

#productlist {
  padding: $small;

  h1 {
    font-weight: normal;
  }

  #prod-list {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
  }
}
