.attributes {
  .attr-h {
    font-weight: bold;
    margin-bottom: $smaller;
    text-transform: uppercase;
  }

  .is_swatch {
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 2px transparent;
    }

    button {
      border: none;
      height: 2rem;
      width: 2rem;
    }

    .is_white {
      outline: solid 1px $gray1;
    }

    .selected {
      outline: solid 2px $primary;

      .is_white {
        outline: none;
      }
    }
  }

  .other-attrs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    gap: $smaller;

    button {
      height: 2.5rem;
      width: 100%;
      padding: 0 $small !important;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px $black;
    }

    .selected {
      background-color: $black;
      color: $white;
    }
  }
}
