.out-of-stock {
  opacity: 0.5;

  .image {
    position: relative;
  }

  .add-to-cart-btn {
    display: none;
  }
}

.itemcard {
  padding: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .item-name {
    font-weight: light;
  }

  .item-price {
    font-weight: bold;

    &::before {
      content: "£ ";
    }
  }

  .add-to-cart-btn {
    position: absolute;
    right: 1.5rem;
    bottom: 1.75rem;
    background-color: $primary;
    width: 2rem;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    opacity: 0;

    svg {
      margin: auto 0;
      margin-right: $smaller;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      svg {
        transform: skewY(-5deg) translateX($smaller);
      }
    }
  }

  &:hover {
    .add-to-cart-btn {
      opacity: 1;
      transform: translateY(-1rem);
    }
  }
}
