@import "./components/Switcher.scss";
@import "./components/CartOverlay.scss";

#navbar {
  position: fixed;
  width: 100%;
  max-width: $maxappwidth;
  margin: 0 auto;
  z-index: 10;
  background-color: $white;

  a {
    color: $black;
    text-decoration: none;
  }

  #actual-nav {
    padding: $small 1rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;

    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-item {
      padding: 1rem;
      text-transform: uppercase;
    }

    .active {
      color: $primary;
      border-bottom: solid 3px $primary;
    }
  }

  .drop {
    // border: solid;
    transition: all 0.2s ease-in-out;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    .cart {
      margin-top: $smaller;
      position: relative;
      cursor: pointer;

      .cart-count {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        background-color: $black;
        color: $white;
        padding: $smaller;
        height: 1rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        & > span {
          font-weight: bold;
          font-size: 0.75rem;
        }
      }
    }
  }
}
